<main class="main">
  <div class="content">
    <div class="left-side">
      <app-angular-logo />
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <main> 
        <app-generate-plan />
        <hr>
        <app-detecting-objects-in-a-photo />
        <hr> 
        <router-outlet />
      </main>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <app-link [router]="routerArray" />
    </div>
  </div>
</main>